@mixin reset-list {
  -webkit-transition: all .3s linear 0ms;
  -khtml-transition: all .3s linear 0ms;
  -moz-transition: all .3s linear 0ms;
  -ms-transition: all .3s linear 0ms;
  -o-transition: all .3s linear 0ms;
  transition: all .3s linear 0ms;
}